<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.royr.aflred-query-history</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>20B68D20-1D7E-4F94-9B6C-9ED6779F416C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C20106C9-33FC-45AE-A8AA-BF8FD3A3DB1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Roy Rothenberg</string>
	<key>description</key>
	<string>Search Alfred's query history, and re-execute previous queries</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Query History</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>q</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>history=$(sqlite3 $HOME/Library/Application\ Support/Alfred/Databases/knowledge.alfdb 'SELECT DISTINCT keyword from knowledge WHERE hidden is NULL AND keyword NOT IN ("", "q") ORDER BY ts DESC LIMIT 1000;' | sed 's/\"/\\\"/g' | sed "s/.*/\"&amp;\"/g"|paste -sd, - |sed "s/.*/[&amp;]/g")


query=$(/opt/homebrew/bin/jq -n --argjson item "${history}" -f &lt;(echo '{"items":[$item[] as $name | {"uid":$name,"title":$name,"arg":$name,"autocomplete":$name}]}'))

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20B68D20-1D7E-4F94-9B6C-9ED6779F416C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>C20106C9-33FC-45AE-A8AA-BF8FD3A3DB1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>20B68D20-1D7E-4F94-9B6C-9ED6779F416C</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>C20106C9-33FC-45AE-A8AA-BF8FD3A3DB1B</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://github.com/vuduchild/alfred-query-history</string>
</dict>
</plist>
